#tooltip {
        position: absolute;
        width: 150px;
        height: auto;
        padding: 10px;
        background-color: white;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
}

#tooltip.hidden {
        display: none;
}

#tooltip p {
        margin: 0;
        font-family: sans-serif;
        font-size: 16px;
        line-height: 20px;
}
/* genevenn tooltip */
.genvenntooltip {
  position: absolute;
  text-align: left;
  width: 90px;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  pointer-events: none;
  word-wrap: break-word;
  overflow-x: auto;
}